body {
    background-color: lightgray;
}

.margem {
    align-items: center;
    margin-left: 25%;
    margin-right: 25%;
}

.nav-pills {
    --bs-nav-pills-border-radius: 0.375rem;
    --bs-nav-pills-link-active-color: #fff;
}

.nav-link {
    color: black;
}

.tab-content {
    margin-bottom: 10px;
}

* {
    font-size: 1vw;
}